<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Compressor and Decompressor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='compress.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="sub-container">
        <h1>Decompressed Image</h1>
        <img
          src="{{url_for('static', filename='decompressed.jpg')}}"
          alt="decompressed image"
          width="100"
          height="100"
        />

        <a href="{{url_for('static', filename='decompressed.jpg')}}" download
          >Download</a
        >
      </div>
    </div>
  </body>
</html>
