* {
  padding: 0;
  margin: 0;
}

body {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: rgb(63, 63, 63);
  margin-bottom: 18px;
}

.container {
  margin: 200px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  background-color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  padding: 14px;
  margin-top: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
}
